%h1 Welcome to EasyListening!

%p 
  This installation of EasyListening has an index of 
  %strong= @count[:artists]
  artists,
  %strong= @count[:albums]
  albums, and
  %strong= @count[:tracks]
  tracks.